$font-size: 16px;

html {
  font-size: $font-size;
  font: {
    family: Inter, sans-serif;
    size: 1rem;
  }
}

.app {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: calc(100% - 100px);
  padding: 0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 20px 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #ae373a;
}
